resources/skins/Default/media/album/
resources/skins/Default/media/artist/
*Thumbs.db
*.DS_Store
.*.obj
.idea/*
lib/*.pyc
lib/*.pyo
lib/elementtree/*.pyo
lib/elementtree/*.pyc
pysrc
.project
.pydevproject

